<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agenda</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <img src="{% static 'images/contact-book.png' %}" alt="logo" />
      <h1>Agenda</h1>
      <nav>
        <button disabled>Agenda</button>
        <button>Cadastrar Paciente</button>
      </nav>
    </header>

    <main>
      <section></section>
      <table>
        <thead>
          <tr>
            <th>Nome do Pasciente</th>
            <th>Nome do Terapeuta</th>
            <th>Data da consulta</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- Dados de consulta -->
        </tbody>
      </table>
    </main>
  </body>
</html>
