<!-- paciente_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pacientes</title>
</head>
<body>
    <h1>Lista de Pacientes</h1>
    <ul>
        {% for paciente in object_list %}
            <li><a href="{% url 'paciente_detail' paciente.pk %}">{{ paciente.nome }}</a></li>
        {% empty %}
            <li>Nenhum paciente cadastrado.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'paciente_create' %}">Adicionar Paciente</a>
</body>
</html>
