<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Pacientes</title>
</head>
<body>
    <h1>Buscar</h1>
    <!-- busca.html -->

    <form method="GET" action="{% url 'buscar' %}">
        <input type="text" name="nome" placeholder="Digite o nome">
        <button type="submit">Buscar</button>
    </form>
    <br><br\>
    <a href="{%url 'homePaciente' %}" target="_self"><button>Voltar</button></a>
</body>
</html>
