<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Pacientes</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<style>
    .small-header {
      font-size: 1rem;
    }
    body {
      background: linear-gradient(to right, #a4c5cf, #d8e7e7);
    }
  </style>

<body>
    <h1 style="text-align: center; padding-bottom: 30px;">Pesquisar por nome</h1>

    <!-- busca.html -->

    <form method="GET" action="{% url 'buscar' %}" class="container">
        <div class="row" style="padding-bottom: 15px;">
            <input type="text" name="nome" class="form-control" placeholder="Digite o nome" required>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-info">Buscar</button>
        </div>
    </form>
    <style>
        body {
            background: linear-gradient(to right, #a4c5cf, #d8e7e7);
        }
    </style>
</body>
</html>