<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro Pacientes</title>
  </head>
  <body>
    <h1>Cadastrar</h1>
    <form action="{% url 'salvar' %}" method="POST">
      {% csrf_token %}
      <h3>Nome</h3>
      <input type="text" name="nome" />
      <h3>Data de Nascimento</h3>
      <input type="date" name="data_nascimento" />
      <h3>Sexo</h3>
      <input type="text" name="sexo" />
      <h3>Email</h3>
      <input type="text" name="email" />
      <h3>CPF</h3>
      <input type="text" name="cpf" />
      <h3>RG</h3>
      <input type="text" name="rg" />
      <h3>Celular</h3>
      <input type="text" name="celular" />
      <h3>Endereço</h3>
      <input type="text" name="Endereco" />
      <h3>Nacionalidade</h3>
      <input type="text" name="nacionalidade" />
      <h3>estado Civil</h3>
      <input type="text" name="estadocivil" />
      <h3>Profissão</h3>
      <input type="text" name="profissao" />
      <h3>Convênio</h3>
      <input type="text" name="convenio" />
      <br / > <br / >
      <button type="submit">Salvar</button>
      <a href="{%url 'homePaciente' %}" target="_self"><button>Voltar</button></a>
    </form>
  </body>
</html>
