<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro Pacientes</title>
  </head>
  <body>
    <h1>Pacientes</h1>
    <a href="{%url 'listar' %}" target="_blank"
      ><button>Listar Pacientes</button></a
    ><br / > <br / >
    <a href="{%url 'buscar' %}" target="_blank"
      ><button>Pesquisar Paciente</button></a
    ><br / > <br / >
    <a href="{%url 'pagina_cadastrar' %}" target="_blank"
      ><button>Cadastrar Paciente</button></a
    ><br / >
  </body>
</html>
