<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar Pacientes</title>
</head>
<body>
    <h1>Buscar</h1>
    <!-- resultado_busca.html -->

    <h2>Resultados para '{{ nome }}'</h2>


    {% if paciente %}
    <ul>
        {% for paciente in paciente %}
            <li>{{ paciente.nome }}</li>
            <!-- Usando JavaScript para redirecionar para a página de visualização -->
            <a href="{% url 'visualizar' paciente.idPaciente %}" target="_self">  <button>Visualizar</button></a>
        {% endfor %}
        <br><br/>
        <a href="{% url 'buscar' %}" target="_self"><button>Voltar</button></a>
    </ul>
    {% else %}
    <p>Nenhuma paciente encontrado com esse nome.</p>
    <a href="{%url 'buscar' %}" target="_self"><button>Voltar</button>
    {% endif %}

</body>
</html>
